@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-tablet-pattern.svg"), url("../images/bg-tablet-pattern.svg");
  background-position: top -4rem right -4rem, top 32rem left 14rem;
  font-family: "Be Vietnam", sans-serif;
  color: hsl(228, 39%, 23%);
}

.simplify {
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-position: top 2rem left 0rem;
}

@screen sm {
  body {
    background-position: top -16rem right -20rem, bottom 64rem left -30rem;
  }
  .simplify {
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-position: top -10rem right -16rem;
  }
}

@screen lg {
  body {
    background-position: top -4rem right -4rem, bottom 54rem left -30rem;
  }
}

@layer components {
  .flex-container {
    @apply xl:container lg:mx-auto flex flex-col py-8 lg:mt-28;
  }
  .desktop-links {
    @apply font-semibold px-4 text-sm lg:text-base;
  }

  .desktop-links:hover {
    @apply opacity-70;
  }

  .red-btn {
    @apply bg-primary-red px-6 py-3 rounded-full text-white font-bold lg:px-8 lg:py-4;
  }

  .red-btn:hover {
    @apply opacity-70;
  }

  .mobile-menu {
    @apply fixed top-0 left-0 min-h-full flex flex-col p-6 w-full bg-gray-800 bg-opacity-20 transition delay-150 duration-300 ease-in-out;
  }

  .hero-text {
    @apply md:w-1/2 flex flex-col justify-center items-center text-center md:items-start md:text-left mt-8 lg:mt-0;
  }

  .head-text {
    @apply max-w-xs xl:max-w-sm text-sm leading-7 xl:text-base xl:leading-8 pt-8 md:pt-8 pb-12 text-neutral-grayish-blue;
  }

  .head2-text {
    @apply text-2xl md:text-3xl xl:text-5xl leading-7 md:leading-9 xl:leading-snug font-bold text-primary-blue;
  }

  .grid-num {
    @apply px-6 py-2 text-sm md:text-base lg:text-lg -mr-4 md:mr-0 z-10;
  }

  .grid-heading {
    @apply text-sm sm:text-lg font-bold text-primary-blue flex items-center justify-start pl-4 sm:pl-6 md:pl-0 bg-neutral-pale-red md:bg-transparent;
  }

  .grid-para {
    @apply col-start-1 md:col-start-2 col-end-3 text-sm xl:text-base leading-7 xl:leading-8  pr-8 pb-8 text-neutral-grayish-blue;
  }
  .indicator-btn {
    @apply inline-block h-3 w-3 m-2 border-2 border-primary-red rounded-full cursor-pointer transition-all duration-100 ease-in-out;
  }
  .indicator-btn:hover {
    @apply bg-primary-red;
  }

  .testimonials-container {
    width: 400%;
    @apply transform -translate-x-1/4  flex transition duration-300 ease-in-out;
  }

  .testimonials-box {
    @apply mt-32 lg:mt-44 bg-neutral-light-gray rounded max-w-xl p-2 md:p-6 mx-8 text-center;
  }

  .testimonial-img {
    @apply flex justify-center mx-auto w-24 -mt-20;
  }

  .testimonial-name {
    @apply text-lg font-bold text-primary-blue flex items-center py-6 justify-center;
  }

  .testimonial-para {
    @apply text-sm sm:text-base leading-5 sm:leading-8 px-2 pb-8 text-neutral-grayish-blue;
  }

  .active {
    @apply bg-primary-red;
  }

  .social-icons {
    @apply transition-all duration-100 ease-in hover:text-primary-red cursor-pointer;
  }
  .form-input:valid {
    @apply border-2 border-transparent text-primary-blue;
  }
  .form-input:invalid {
    @apply border-2 border-primary-red text-primary-red;
  }
  .submit-btn:disabled {
    @apply opacity-60;
    cursor: not-allowed;
  }
}
