@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

@tailwind base;

body {
  background-image: url("../images/bg-tablet-pattern.svg"),
    url("../images/bg-tablet-pattern.svg");
  background-position: top -4rem right -4rem, top 32rem left 14rem;
  font-family: "Be Vietnam", sans-serif;
  color: hsl(228, 39%, 23%);
}

@media only screen and (min-width: 640px) {
  body {
    background-position: top -4rem right -4rem, bottom 33rem left -33rem;
  }
}

@tailwind components;

.desktop-links{
  @apply font-semibold px-4;
}

.red-btn{
  @apply bg-primary-red px-6 py-2 rounded-full text-white font-bold md:px-10 md:py-4;
}

@tailwind utilities;
